.divPrincipalRegistro {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #f0f2f5;
}

.cardContainerRegistro {
    width: 400px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.08);
}

.tituloPrincipal{
    text-align: center;
}